.wrap-login {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 50px;
}

.login-sidebar {
  background: #a6a6a608;
  border-radius: 10px;
}

.left-sidebar {
  max-height: 80vh;
  width: 30%;
  padding: 20px 10px;
  text-align: center;
}

.left-sidebar span {
  color: #30363d;
}

.right-sidebar {
  width: 20%;
  padding: 10px 20px;
  text-align: center;
}

.login-wrapper {
  width: 30%;
}

.no-games {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #ccc;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 20px;
}

.game-history-table {
  width: 100%;
  max-height: 500px;
  table-layout: auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.game-history-table th.th-sorting {
  cursor: pointer;
  color: #fff;
  background: #30363d;
}

.game-history-table th,
.game-history-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #21262d;
}

.game-history-table td span {
  color: #fff;
}

.game-history-table th {
  background-color: #21262d;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.game-history-table tr:hover {
  background-color: #1a3d60;
}

.pagination-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
}

.pagination-controls span {
  color: #fff;
}

.pagination-buttons-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pagination-buttons-wrap button {
  background: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 45%;
}

.pagination-controls button:disabled {
  background: #30363d;
  cursor: default;
}

.login-select-game-wrapper h1 {
  font-size: 36px;
  margin-top: 0;
}

.login-select-game-btn-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-select-game-btn-wrapper button {
  border-radius: 20px;
  background: #21262d;
}

.login-select-game-btn-wrapper button:hover {
  background: #007bff;
}

.leaderboard-table-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid #30363d;
  padding: 10px 20px;
  max-height: 50vh;
  overflow-y: auto;
}

.leaderboard-table-wrapper::-webkit-scrollbar {
  width: 4px;
}

.leaderboard-table-wrapper::-webkit-scrollbar-track {
  background: #30363d;
  border-radius: 4px;
}

.leaderboard-table-wrapper::-webkit-scrollbar-thumb {
  background: #1a3d60;
  border-radius: 4px;
}

.leaderboard-table-wrapper::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}

.leaderboard-nickname-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.leaderboard-num {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard-block-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #30363d;
}

.statistic-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #30363d;
  padding: 0 20px;
  font-family: sans-serif;
}

.statistic-block h4 {
  font-family: "Bebas Neue";
  letter-spacing: 0.12rem;
}

.statistic-img {
  width: 20px;
  height: auto;
}

.statistic-block-content {
  width: 40px;
  height: 40px;
  position: relative;
}

.statistic-block-content span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.statistic-wl {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  margin: 10px 0;
}

.statistic-wld-header {
  display: flex;
  gap: 8px;
  font-size: 24px;
  font-weight: bold;
}

.statistic-wld-header .slash {
  color: #444;
}

.statistic-wld-values {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: #e0e0e0;
  margin-top: 4px;
}

.game-form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#0a0f1a, #000) no-repeat center center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  overflow-y: auto;
  z-index: 9999;
  /* font-family: "Segoe UI", sans-serif; */
}

.game-form-box {
  background-color: #0d1117;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 128, 255, 0.3);
  width: 480px;
  max-width: 90%;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-generated-id-wrap label {
  font-size: 14px;
  color: #c9d1d9;
  margin-bottom: 6px;
  display: block;
}

.input-generated-id-wrap input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #161b22;
  color: #fff;
  font-size: 16px;
}

button.btn,
.btn-ready {
  padding: 12px 20px;
  border: none;
  border-radius: 999px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.btn:hover,
.btn-ready:hover {
  background-color: #0056b3;
}

.redacting-btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.redacting-status p {
  font-size: 16px;
  color: #bbb;
  margin: 0;
}

.waiting-status p {
  color: #6c757d;
}

.generated-id {
  width: 300px;
  font-family: monospace;
  background-color: #21262d;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 8px;
  color: #58a6ff;
  word-break: break-all;
}

.board-redacting {
  background-color: #161b22;
  padding: 16px;
  border-radius: 12px;
  text-align: center;
}

.redacting-title {
  font-size: 20px;
  margin-bottom: 12px;
  color: #fff;
}

.field-group-wrap,
.generate-id-wrap {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.field-group label {
  color: #c9d1d9;
}

.field-group input {
  padding: 10px;
  background-color: #161b22;
  border: none;
  border-radius: 8px;
  color: #fff;
}

.players-select {
  padding: 10px;
  background-color: #161b22;
  border: none;
  border-radius: 8px;
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 16px;
  background-image: url("data:image/svg+xml,%3Csvg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-right: 36px;
}
