* {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell.ship {
  background-color: #007bff; /* Цвет кораблей */
}

.cell.hit {
  background-color: #dc3545; /* Цвет попаданий */
}

.cell:hover {
  background-color: #eee; /* Цвет фона при наведении курсора */
}

.board-redacting {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.board-redacting .board {
  margin: 30px auto;
}

.board-redacting p {
  font-size: 16px;
  margin: 5px 0;
}

.redacting-title {
  color: #007bff;
  text-align: center;
  animation: blink 2s infinite; /* Задаем анимацию */
}

@keyframes blink {
  25% {
    color: #dc3545;
  }

  50% {
    opacity: 0.2; /* Половина времени текст невидимый */
  }
}
