/* Общие стили */
body {
  font-family: Arial, sans-serif;
  background-color: #0a2a43;
  color: white;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Этот элемент будет находиться поверх Background */
  z-index: 1; /* Делаем wrap поверх фонового компонента */
}

/* Стили для форм входа */
.wrap-input {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

form {
  margin-top: 20px;
  background: #1a3b5d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.redacting-status {
  width: 100%;
  align-items: center;
  text-align: center;
}

.field-group {
  margin-top: 10px;
}

.redact__wrap {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.redact__wrap .board {
  margin: 0 auto;
}

input[type="text"],
button {
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"] {
  /* background: #224b75; */
  background: #bebebe;
  color: white;
  outline: none;
}

button {
  color: #fff;
  background: #3ab0ff;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #1e90ff;
}

.redact-instruction {
  font-size: 14px;
  margin-right: 10px;
}

/* Поле боя */
.boards-wrap {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.board {
  padding: 10px;
  background: #123;
  border-radius: 8px;
  border: 2px solid white;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

.row {
  display: flex;
}

/* Стили для ячеек */
.cell {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f3d5f;
  border: 1px solid #0a2a43;
  transition: 0.2s;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
}

/* Подсветка при наведении */
.cell:hover {
  background-color: #1f507a;
  cursor: pointer;
}

/* Цветовые обозначения */
.cell.blue {
  background-color: #1e90ff; /* Корабль */
}

.cell.red {
  background-color: #ff3b3b; /* Попадание */
}

.cell.purple {
  background-color: #7042f5; /* Промах */
}

.cell.highlight {
  background-color: rgba(0, 255, 0, 0.5);
}

/* Состояние активного выстрела */
.active-shoot .cell:hover {
  background-color: #ff9800;
}

/* Отображение имени игроков */
.nickname {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Кнопка подтверждения расстановки */
.btn-ready {
  background-color: #27ae60;
  font-size: 18px;
  padding: 12px;
  margin-top: 20px;
  border-radius: 5px;
}

.btn-ready:hover {
  background-color: #2ecc71;
}

/* Генерация ID */
.btn-gen {
  background-color: #8e44ad;
}

.btn-gen:hover {
  background-color: #9b59b6;
}
