.modal-content h2.forgot-title {
  letter-spacing: 3px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  margin-bottom: 10px;
}

.modal-content .forgot-description {
  font-size: 14px;
  margin-bottom: 20px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  background: #1b1e2b;
  color: white;
  border: 1px solid #333;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.return-btn {
  background: #30363d;
}
