.overlay {
  position: absolute;
  user-select: none;
  opacity: 0.7; /* Полупрозрачные иконки */
  will-change: transform;
  z-index: -1; /* Перемещаем иконки на задний план */
  width: 96px; /* Увеличиваем размер на 36px (60px + 36px) */
  height: 96px; /* Увеличиваем размер на 36px (60px + 36px) */
}
/* Фон фиксируется на экране */
/* Фон всегда за всеми другими элементами */
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Анимация движения по кругу */
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg) translateX(150px) rotate(0deg); /* Начальная позиция */
  }
  100% {
    transform: rotate(360deg) translateX(150px) rotate(-360deg); /* Конечная позиция по кругу */
  }
}

/* Применяем анимацию для каждого элемента */
.overlay {
  animation: moveInCircle linear infinite;
}
